<div class="mainHeader">
    <!--面包屑导航，显示路径 begin-->
    <div class="navCrumb">
        <i class="fa fa-home"></i>
        <a>产品管理</a>
        <a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;产品管理</a>
    </div>
    <!--面包屑导航，显示路径 end-->
    <div class="tableHeader">
        <div class="navLocation"><i class="fa fa-envira"></i>产品管理</div>
        <div class="btnBox">
            <a class="btnPub new">新增</a>
            <a class="btnPub groupDelete">批量删除</a>
        </div>
    </div>
</div>
<div data-ui-grid="gridOptions" class="uiGridBox"
     data-ui-grid-edit
     data-ui-grid-pagination
     data-ui-grid-selection
     data-ui-grid-exporter
     data-ui-grid-resize-columns
     data-ui-grid-auto-resize>
</div>