<div class="col-lg-3 col-md-6 col-sm-7 col-xs-7 logo"><a><img src="../img/logo.png"></a></div>
<div class="col-lg-2 col-md-2 col-sm-5 col-xs-5 pull-right loginUser">
    欢迎您,
    <div class="signBox" data-ng-mouseenter="showSign = true"
         data-ng-mouseleave="showSign = false">
        <a>管理员<i class="fa fa-angle-down"></i></a>
        <div class="signOut" data-ng-class="{show:showSign}">
            <a>修改密码</a>
            <a>退出</a>
        </div>
    </div>
</div>
<a class="navToggle hidden-lg hidden-md" data-ng-click="navToggle();"><i class="fa fa-reorder"></i></a>