<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddx.manage.system.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.ddx.manage.system.dto.UserDto"
               extends="com.ddx.manage.system.mapper.UserMapper.BaseResultMap">
    </resultMap>

    <sql id="Base_Column_List">
  ID, SU_LOGIN_NAME, SU_PASSWORD, SU_REAL_NAME, SU_MOBILE, SU_ENCRYPT_SALT, SU_TYPE,
  SU_STATUS, SU_OPERATOR, SU_OPERATE_TIME
</sql>

    <select id="select" parameterType="com.ddx.manage.system.model.User" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        SYSTEM_USER
        <where>
            <if test="loginName!=null and loginName!=''">
                AND SU_LOGIN_NAME=#{loginName}
            </if>
        </where>
    </select>
</mapper>