<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Longer</title>
	<link rel="icon" type="image/x-icon" href="WEB-INF/views/img/lg.ico"/>
	<link rel="stylesheet" type="text/css" href="WEB-INF/views/css/reset.css">
	<link rel="stylesheet" type="text/css" href="WEB-INF/views/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="WEB-INF/views/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="WEB-INF/views/css/login.css">
</head>
<body>
	<div class="box" data-ng-app="login" data-ng-controller="loginController">
		<div class="bgBox">
            <!--没有交互的canvas背景 仿知乎-->
			<!--<canvas id="Mycanvas"></canvas>-->

            <!--canvas 粒子运动 背景-->
            <div id="particles-js"></div>
		</div>
 
		<div class="login">
			<div class="name"><i>大大小</i>公司管理系统</div>
			<form class="form-horizontal" role="" name="loginData" data-ng-submit="submitForm()">
				<div class="form-box">
					<label for="loginName" class=""><i class="fa fa-user"></i></label>
					<div class="input-box" data-ng-class="{ 'has-success':signUpForm.loginName.$valid}">
						<input type="text" id="loginName" name="loginName"
							   placeholder="请输入4-10位数的用户名"
							   required data-ng-model="login.loginName"
							   data-ng-minlength="4"
							   data-ng-maxlength="10" >
                        <!--<p data-ng-cloak class="fa fa-check input_result success"-->
						   <!--data-ng-if="loginData.loginName.$valid"></p>-->
						<!--<p data-ng-cloak class="error"-->
						   <!--data-ng-if="(loginData.loginName.$error.minlength || loginData.loginName.$error.maxlength) && loginData.loginName.$touched">用户名长度应在4-10位之间</p>-->
					</div>
				</div>
				<div class="form-box">
					<label for="password" class=""><i class="fa fa-lock"></i></label>
					<div class="input-box">
						<input type="password" id="password" name="password"
							   placeholder="请输入6-255位数的密码"
							   required data-ng-model="login.password"
							   data-ng-minlength="6"
							   data-ng-maxlength="255">
						<!--<p data-ng-cloak class="fa fa-check input_result success"-->
						   <!--data-ng-if="loginData.password.$valid">-->
						<!--<p data-ng-cloak class="error"-->
						   <!--data-ng-if="(loginData.password.$error.minlength || loginData.password.$error.maxlength) && loginData.password.$touched">密码长度应在6-255位之间</p>-->
					</div>
				</div>
				<div class="form-box">
					<label for="kaptcha" class=""><i class="fa fa-rocket"></i></label>
					<div class="input-box">
						<input type="text" class="kaptcha" id="kaptcha" name="kaptcha"
							   placeholder="请输入验证码"
							   required
							   data-ng-model="login.kaptcha"
							   data-ng-minlength="4"
							   data-ng-maxlength="4">
						<div class="kaptcha-box">
							<a id="change" data-ng-click="kaptcha($event)">
								<!--<img src="../img/kaptcha.jpg">-->
								 <img src="/kaptcha/generatecode" id="kaptchaImage" />
							</a>
						</div>
					</div>
				</div>
				<div class="remember-box">
					<input type="checkbox"><label>记住密码</label>
				</div>
				<div class="form-box text-center">
					<button type="submit" class="btn btn-primary btn-block btn-h" data-ng-disabled="loginData.$invalid">登录</button>
				</div>
			</form>
		</div>
	</div>
</body>
<!--<script type="text/javascript" src="WEB-INF/views/js/plugins/jquery/jquery-3.2.1.min.js"></script>-->
<!--<script type="text/javascript" src="WEB-INF/views/js/plugins/bootstrap/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="WEB-INF/views/js/plugins/angularjs/angular.min.js"></script>-->
<!--&lt;!&ndash;<script type="text/javascript" src="../js/bg/bg_zh.js"></script>&ndash;&gt;-->
<!--<script  type="text/javascript" src="WEB-INF/views/js/bg/particles.js"></script>-->
<!--<script type="text/javascript" src="WEB-INF/views/js/bg/bg_particles.js"></script>-->
<!--<script type="text/javascript" src="WEB-INF/views/js/loginController.js"></script>-->
</html>